<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title><%= yield(:page_title) || 'Ruby on Rails guides' %></title>

<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/syntax.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

<script type="text/javascript" src="javascripts/guides.js"></script>
<script type="text/javascript" src="javascripts/code_highlighter.js"></script>
<script type="text/javascript" src="javascripts/highlighters.js"></script>

</head>
<body class="guide">
  <% if @edge %>
  <div>
    <img src="images/edge_badge.png" alt="edge-badge" id="edge-badge" />
  </div>
  <% end %>
  <div id="topNav">
    <div class="wrapper">
      <strong>Więcej na <a href="http://rubyonrails.pl/">rubyonrails.pl:</a> </strong>
      <a href="http://rubyonrails.pl/">Start</a> |
      <a href="http://rubyonrails.pl/pobierz">Pobierz</a> |
      <a href="http://rubyonrails.pl/wdrozenie">Wdrożenie</a> |
      <a href="http://rails.lighthouseapp.com/projects/8994-ruby-on-rails/overview">Kod (en)</a> |
      <a href="http://rubyonrails.pl/screencasty">Screencasty</a> |
      <a href="http://rubyonrails.pl/dokumentacja">Dokumentacja</a> |
      <a href="http://rubyonrails.pl/ekosystem">Ekosystem</a> |
      <a href="http://rubyonrails.pl/forum">Forum</a> |
      <a href="irc://irc.eu.freenode.net/rubyonrails.pl">IRC</a>
    </div>
  </div>
  <div id="header">
    <div class="wrapper clearfix">
      <h1><a href="index.html" title="Return to home page">Guides.rubyonrails.org</a></h1>
      <p class="hide"><a href="#mainCol">Skip navigation</a>.</p>
      <ul class="nav">
        <li><a href="index.html">Start</a></li>
        <li class="index"><a href="index.html" onclick="guideMenu(); return false;" id="guidesMenu">Skorowidz</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <dl class="L">


              <dt>Na początek</dt>
              <dd><a href="getting_started.html">Zaczynamy z Ruby on Rails</a></dd>
              <dt>Modele</dt>
              <dd><a href="migrations.html">Migracje schematu bazy danych</a></dd>
              <dd><a href="activerecord_validations_callbacks.html">Walidacje i callbacki w module Active Record</a></dd>
              <dd><a href="association_basics.html">Asocjacje modułu Active Record</a></dd>
              <dd><a href="active_record_querying.html">Zapytania w module Active Record</a></dd>
              <dt>Widoki</dt>
              <dd><a href="layouts_and_rendering.html">Layouty oraz renderowanie</a></dd>
              <dd><a href="form_helpers.html">Helpery formularzy modułu Action View</a></dd>
              <dt>Kontrolery</dt>
              <dd><a href="action_controller_overview.html">Podstawowe informacje o module Action Controller</a></dd>
              <dd><a href="routing.html">Routing w Ruby on Rails</a></dd>
            </dl>
            <dl class="R">
              <dt>W głąb Railsów</dt>
              <dd><a href="i18n.html">Obsługa I18N w Ruby on Rails</a></dd>
              <dd><a href="action_mailer_basics.html">Podstawowe informacje o module Action Mailer</a></dd>
              <dd><a href="testing.html">Testowanie aplikacji railsowej</a></dd>
              <dd><a href="security.html">Bezpieczeństwo w Ruby on Rails</a></dd>
              <dd><a href="debugging_rails_applications.html">Debugowanie w Ruby on Rails</a></dd>
              <dd><a href="performance_testing.html">Testowanie wydajności aplikacji railsowej</a></dd>
              <dd><a href="configuring.html">Konfiguracja aplikacji</a></dd>
              <dd><a href="command_line.html">Narzędzia linii poleceń oraz zadania Rake</a></dd>
              <dd><a href="caching_with_rails.html">Cache'owanie w Ruby on Rails</a></dd>
              <dd><a href="contributing_to_rails.html">Contributing to Rails</a></dd>

              <dt>Rozszerzanie platformy</dt>
              <dd><a href="plugins.html">Podstawy tworzenia pluginów dla Ruby on Rails</a></dd>
              <dd><a href="rails_on_rack.html">Rails on Rack</a></dd>
              <dd><a href="generators.html">Adding a Generator to Your Plugin</a></dd>

              <dt>Uwagi</dt>
              <dd><a href="3_0_release_notes.html">Ruby on Rails 3.0 Release Notes</a></dd>
              <dd><a href="2_3_release_notes.html">Ruby on Rails 2.3 Release Notes</a></dd>
              <dd><a href="2_2_release_notes.html">Ruby on Rails 2.2 Release Notes</a></dd>
            </dl>
          </div>
        </li>
        <li><a href="contribute.html">Przyłącz się!</a></li>
        <li><a href="credits.html">Autorzy</a></li>
      </ul>
    </div>
  </div>
  <hr class="hide" />

  <div id="feature">
    <div class="wrapper">
      <%= yield :header_section %>

      <%= yield :index_section %>
    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <%= yield.html_safe %>
      </div>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
      <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0</a> License</p>
      <p>"Rails", "Ruby on Rails", and the Rails logo are trademarks of David Heinemeier Hansson. All rights reserved.</p>
    </div>
  </div>
</body>
</html>
